*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.personal-info{
    padding-left: 20px;
}

.social-info{
    text-align:end;
    display: flex;
    justify-content: right;
    padding-top: 28px;
    font-size: 14px;
}

#contact{
    font-size: 14px;
}

.links{
    text-align: left;
    padding-left: 20px;
}

.social-info span{
    padding-left: 20px;
}

#name{
    font-weight: bold;
    font-size: 35px;
    padding-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.section{
    font-size: 14px;
}

.sub-content {
    display: flex;
    justify-content: space-between;
}

.sub-content div{
    padding-bottom: 5px;
}

.date {
    text-align: right;
    font-style: italic;
}

.location {
    border-left: solid 1.5px;
    padding-left: 5px;
    font-weight: normal;
}

.title {
    display: flex;
    justify-content:center;
    background-color: rgb(228, 224, 224);
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    border-radius: 2px;
}

#school, #work, #project {
    font-weight: bold;
}


#major {
    justify-content: left;
    font-style: italic;
}


#code{
    font-style: italic;
}

.content-skills{
    display: flex;
    padding: 5px;
}

.skill{
    padding-left: 20px;
    text-align: right;
}

.attribute {
    padding-left: 20px;
}

.content {
    padding: 5px;
}